<nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-end">
    <a class="navbar-brand" href="#">Inicio</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-tie"></i>
                <%= user.displayName %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/sign_out"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
            </div>
        </li>
    </ul>
</nav>
