<!DOCTYPE html>
<html>
  <% include ./partials/header %>

  <body>
    <section id="main-content">
      <div class="container  text-center">
        <h1>
                    <%= title %>
                </h1>
      </div>
    </section>
  </body>
  <% include ./partials/scripts %>

</html>
