<!DOCTYPE html>
<html>
    <% include ./partials/header %>
    <% include ./partials/menu %>

    <body>
        <section id="main-content">
            <div class="container  text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group">
                                <h3>Channels</h3>
                                <input type="text" hidden id="current_id_channel">
                                <hr />
                                <ul class="list-group list-channels">
                                    <p>No channels <i class="fab fa-rocketchat"></i>..</i></p>
                                </ul>
                                <hr />
                                <button type="button" class="btn btn-primary" onclick="setChannel()"><i class="fas fa-plus"></i>
                                    Add new
                                    channels</button>
                                <button type="button" class="btn btn-primary" onclick="add2Channel()"><i class="fas fa-qrcode"></i>
                                    Add invitation
                                    code</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <h3>Users</h3>
                                <hr />
                                <ul class="list-group list-users">
                                    <p>No current channel selected.. <i class="fas fa-users"></i></p>
                                </ul>
                                <hr />
                                <button type="button" id="btn_newuser" disabled class="btn btn-primary" onclick="setNewUser()"><i
                                        class="fas fa-plus"></i>
                                    Add new
                                    user</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="form-group">
                                <h3>Chat Group</h3>
                                <hr />
                                <div class="mesgs">
                                    <div class="msg_history">
                                        <h1>Select a chat channel.. <i class="fas fa-comments"></i></h1>
                                    </div>
                                    <div class="type_msg">
                                        <div class="input_msg_write">
                                            <input type="textarea" disabled class="form-control write_msg" id="msg"
                                                placeholder="Type a message, you can mention a user by '@Name LastName.' ej.(@Adolfo Solis.)" />
                                            <button class="msg_send_btn btn-primary" id="btn_sendmsg" disabled onclick="sendMessage()"
                                                type="button"><i class="fas fa-comment"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <% include ./partials/scripts %>

</html>
<script src="/javascripts/api.js"></script>
<script type="text/javascript">
    $(function () {
        user_id = '<%= user.displayName %>';
        getChannelsByUser(user_id)
    });

</script>
