<!DOCTYPE html>
<html>
  <% include ./partials/header %>

  <body>
    <section id="main-content">
      <div class="container">
        <div class="text-center" style="padding-top: 15%">
          <h1>Chat Group</h1>
          <div class='form-signin'>
            <h1 class="h3 mb-3 font-weight-normal">Inicio de Sesión</h1>
            <label for="email" class="sr-only">Correo electrónico</label>
            <input type="email" id="email" class="form-control" placeholder="Correo electrónico" required autofocus>
            <label for="password" class="sr-only">Contraseña</label>
            <input type="password" id="password" class="form-control" placeholder="Contraseña" required>
            <button class="btn btn-lg btn-primary btn-block" onclick="sendForm()"><i class="fas fa-fingerprint"></i>
              Iniciar Sesión</button>
            <a href="/register"><i class="fas fa-user-plus"></i> Registrate</a><br>
            <a href="/recover"><i class="fas fa-unlock-alt"></i> Recover password</a>
            <p class="mt-5 mb-3 text-muted">&copy; Adolfo Solis 2019</p>
          </div>
        </div>
      </div>
    </section>
  </body>
  <% include ./partials/scripts %>

</html>
<script type="text/javascript">
  $(document).ready(function () {

  });

  function sendForm() {
    var data = new FormData();

    data.append('email', $('#email').val());
    data.append('password', $('#password').val());

    $.ajax({
      type: "POST",
      url: "/",
      data: data,
      processData: false,
      contentType: false,
      success: function (data) {
        Swal.fire("Bienvenido!", data, "success").then((value) => {
          window.location.replace("/home");
        });
      },
      error: function (msg) {
        Swal.fire("Ups!", msg.responseJSON.error, "error");
      }
    });
  }

</script>
