<!DOCTYPE html>
<html>
    <% include ./partials/header %>

    <body>
        <section id="main-content">
            <div class="container  text-center">
                <h1>
                    <%= title %>
                </h1>
            </div>
            <div class="card-body">
                <p class="text-center">We'll send you an email in order to recover your password.</p>
                <div class="row justify-content-md-center">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email" class="bmd-label-floating"><i class="fas fa-envelope-open"></i>
                                CORREO ELECTRÓNICO</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-sm-6">
                        <div class="float-right">
                            <button onclick="goBack()" class="btn btn-default">Cancelar</button>
                            <button type="submit" onclick="sendForm()" class="btn btn-primary btn-raised">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <% include ./partials/scripts %>

</html>

<script type="text/javascript">
    function goBack() {
        window.history.back();
    }

    function validateEmail($email) {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test($email);
    }

    function sendForm() {
        if (validateEmail($('#email').val())) {
            var data = new FormData();
            data.append('email', $('#email').val());

            $.ajax({
                type: "POST",
                url: "recover",
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    Swal.fire("Email enviado!", data, "success").then((value) => {
                        window.location.replace("/")
                    });
                },
                error: function (msg) {
                    Swal.fire("Ups!", msg.responseJSON.error, "error");
                }
            });
        } else Swal.fire("Ups!", "Invalid email!", "error");
    }

</script>
