<!DOCTYPE html>
<html>
    <% include ./partials/header %>

    <body>
        <section id="main-content">
            <div class="container text-center">
                <div class="card">
                    <h1 class="card-title">
                        <%= title %>
                    </h1>
                    <div class="card-body">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nombre_completo" class="bmd-label-floating"><i class="fas fa-user"></i>
                                        NOMBRE COMPLETO</label>
                                    <input type="text" class="form-control" id="nombre_completo" name="nombre_completo">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="password" class="bmd-label-floating"><i class="fas fa-key"></i>
                                        CONTRASEÑA</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="r_password" class="bmd-label-floating"><i class="fas fa-key"></i>
                                        REPETIR CONTRASEÑA</label>
                                    <input type="password" class="form-control" id="r_password" name="r_password">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email" class="bmd-label-floating"><i class="fas fa-envelope-open"></i>
                                        CORREO ELECTRÓNICO</label>
                                    <input type="email" class="form-control" id="email" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-6">
                                <div class="float-right">
                                    <button onclick="goBack()" class="btn btn-default">Cancelar</button>
                                    <button type="submit" onclick="sendForm()" class="btn btn-primary btn-raised">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <% include ./partials/scripts %>

</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('#password').pwstrength({
            ui: {
                showVerdictsInsideProgressBar: true
            }
        });
        $('#r_password').pwstrength({
            ui: {
                showVerdictsInsideProgressBar: true
            }
        });
    });

    function goBack() {
        window.history.back();
    }

    function sendForm() {
        if ($('#password').val() == $('#r_password').val()) {
            var data = new FormData();

            data.append('email', $('#email').val());
            data.append('password', $('#password').val());
            data.append('nombre_completo', $('#nombre_completo').val());

            $.ajax({
                type: "POST",
                url: "register",
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data)
                    Swal.fire("Usuario Registrado!", data, "success").then((value) => {
                        window.location.replace("/")
                    });
                },
                error: function (msg) {
                    Swal.fire("Ups!", msg.responseJSON.error, "error");
                }
            });
        } else Swal.fire("Ups!", "The passwords must match!", "error");
    }

</script>
